.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    visibility: hidden;
    transition: all 0s ease 120s;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    transition-delay: 0s;
}

